
<body>
    <section class="bestSellersSection">
        <div id="container" class="container"></div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script type="module" src="js/script.js"></script>
</body>

<div class="books-section-fiction">
  <button class="see-more-btn" role="button">See more</button>
</div>
<div class="books-section-nonfiction">
  <button class="see-more-btn" role="button">See more</button>
</div>
<div class="books-section-hardcover-f">
  <button class="see-more-btn" role="button">See more</button>
</div>
<div class="books-section-hardcover-nf">
  <button class="see-more-btn" role="button">See more</button>
</div>

<div class="books-section-hardcover-nf">
  <button class="see-more-btn" role="button">See more</button>
</div>
<div class="books-section-paper-tf">
  <button class="see-more-btn" role="button">See more</button>
</div>
<div class="books-section-paper-nf">
  <button class="see-more-btn" role="button">See more</button>
</div>
<div class="books-section-advice">
  <button class="see-more-btn" role="button">See more</button>
</div>
<div class="books-section-child">
  <button class="see-more-btn" role="button">See more</button>
</div>
<button class="see-more-btn-dark" role="button">See more</button>

