<header>
  <div class="header-container container">
    <nav class="header-main">
      <a class="header-logo" href="./index.html">
        <svg width="24" height="24">
          <use href="./image/icons-sprite.svg#icon-logo1"></use>
        </svg>
        <svg class="main-logo" width="77" height="13.27">
          <use href="./image/icons-sprite.svg#icon-logo2"></use>
        </svg>
      </a>
      <div class="header-nav" id="header-nav">
        <div class="header-home">
          <a href="./index.html">home</a>
        </div>
        <div class="header-shopping-list">
          <a href="./shopping.html"
            >shopping list
            <svg class="main-logo" width="20" height="20">
              <use href="./image/icons-sprite.svg#icon-uil-cart"></use>
            </svg>
          </a>
        </div>
      </div>
    </nav>
    <div class="header-main btn-bloc">
      <div class="header-toggle">
        <div class="header-toggle-container">
          <input type="checkbox" id="toggle-button" class="toggle-button" />
          <label for="toggle-button" class="text"></label>
        </div>
      </div>
      <ul>
        <li>
          <button class="burger-menu" id="burger">
            <svg class="burger-btn-open" width="28" height="28">
              <use href="./image/icons.svg#burger-menu"></use>
            </svg>
            <svg class="burger-btn-close" width="18" height="18" fill="none">
              <path
                stroke="#111"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2.5"
                d="M16 2 2 16M2 2l14 14"
              ></path>
            </svg>
          </button>
        </li>
        <li>
          <button type="button" class="btn-login" data-authorization-open>
            <div class="btn-login-content">
              <p class="btn-login-text">Sign up</p>
              <svg class="btn-login-img" width="20" height="20">
                <use
                  href="./image/icons-sprite.svg#icon-arrow-narrow-right"
                ></use>
              </svg>
            </div>
          </button>
        </li>
        <li>
          <button type="button" class="btn-logout">
            <div class="btn-logout-content">
              <p class="btn-logout-text">Log out</p>
              <svg class="btn-logout-img" width="20" height="20">
                <use
                  href="./image/icons-sprite.svg#icon-arrow-narrow-right"
                ></use>
              </svg>
            </div>
          </button>
        </li>
        <li>
          <button type="button" class="btn-signed visually-hidden">
            <div class="btn-client-content">
              <div class="btn-client-logo">
                <svg class="btn-client-img" width="19" height="19">
                  <use href="./image/icons-sprite.svg#icon-user"></use>
                </svg>
              </div>
              <p class="btn-login-text-signed">Username</p>
              <svg class="btn-client-caret" width="23" height="26">
                <use href="./image/icons-sprite.svg#icon-caret-down"></use>
              </svg>
            </div>
          </button>
        </li>
      </ul>
    </div>
  </div>
</header>
<div class="burger-wraper"></div>
