<header>
    <div class="header-container">
        <div class="header-main">
            <div class="header-main__logo"></div>
            <div class="header-main__home"></div>
            <div class="header-main__shopping-list"></div>
        </div>
        <div class="header-main">
            <div class="header-main__toggle">
                <div class="header-main__toggle-container">
                    <input type="checkbox" id="toggle-button" class="toggle-button">
                    <label for="toggle-button" class="text"></label>
                  </div>
            </div>
            <div class="header-main__user"></div>
        </div>
    </div>
</header>
<script src="/src/js/theme.js" defer></script>