    <header>
      <div class="header-container container">
        <nav class="header-main">
          <a class="header-logo" href="./index.html">
            <svg width="24" height="24">
              <use href="./image/icons-sprite.svg#icon-logo1"></use>
            </svg>
            <svg width="77" height="13.27">
              <use href="./image/icons-sprite.svg#icon-logo2"></use>
            </svg>
          </a>
          <div class="heder-nav">
            <div class="header-home">
              <a href="./index.html">home</a>
            </div>
            <div class="header-shopping-list">
              <a href="./shopping.html">shopping list</a>
              <svg class="" width="20" height="20">
                <use href="./image/icons-sprite.svg#icon-uil-cart"></use>
              </svg>
            </div>
          </div>
        </nav>
        <div class="header-main">
          <div class="header-toggle">
            <div class="header-toggle-container">
              <input type="checkbox" id="toggle-button" class="toggle-button" />
              <label for="toggle-button" class="text"></label>
            </div>
          </div>
          <button class="burger-menu">
            <svg class="burger-btn" width="28" height="28">
              <use href="./image/align-left.svg"></use>
            </svg>
              </width=>
          </button>
          <button type="button" class="btn-login" data-authorization-open="">
            <div class="btn-login-content">
              <p class="btn-login-text">Sign up</p>
              <svg class="btn-login-img" width="20" height="20">
                <use href="./image/icons-sprite.svg#icon-arrow-narrow-right"></use>
              </svg>
            </div>
          </button>
        </div>
      </div>
    </header>
<script src="/src/js/theme.js" defer></script>
