<div class="backdrop is-hidden" data-modal-backdrop>
  <div class="modal is-hidden" data-modal>
    <button class="cls-button" type="button" data-modal-close>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="18"
        height="18"
        fill="none"
      >
        <path
          class="icon"
          stroke="#111"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2.5"
          d="M16 2 2 16M2 2l14 14"
        />
      </svg>
    </button>
    <div class="modal-card"></div>

    <p class="modal-window-text is-hidden">
      "Сongratulations! You have added the book to the shopping list.
       To delete, press the button "Remove from the shopping list”."
    </p>
  </div>
</div>
