<div class="modal">
    <button  class="cls-button" data-modal-close>  
      <svg class="icon-cls"  width="14" height="14"> 
          <use href=""></use>
      </svg>
    </button>
    <div class="info">
    <h1 class="title">HELLO BEAUTIFUL</h1>
    <h2 class="author"></h2>
    <p class="text">In a homage to Louisa May Alcott's "Little Women," 
        a young man's dark past resurfaces as he gets to the know the family of his college sweetheart.</p>
    </div>
    <div class="book-img">

    </div>
    <ul class="icons">
        <li class="icon-link"></li>
        <li class="icon-link"></li>
        <li class="icon-link"></li>
    </ul>
<button class="btn-action button pointer" type="submit">
        add to shopping list
      </button>
</div>