 <div class="support support-shopping-page">
    <div class="support-title">Support Ukraine
        <img class="img" src="./image/support/emblem.png" alt="emblem" width="20" height="32" />
    </div>
    <ul class="support-list wrapper single-item">
        <li class='support-item slider_item'>
            <div class="support-content">01
                <a href="https://www.savethechildren.net/what-we-do/emergencies/ukraine-crisis" target="_blank"><img
                        class="img" src="./image/support/support1.png" alt="Project HOPE" width="131" height="32" /></a>
            </div>
        </li>

        <li class='support-item slider_item'>
            <div class="support-content">02 <a href="https://www.projecthope.org/country/ukraine/" target="_blank"><img
                        class="img" src="./image/support/support2.png" alt="Project HOPE" width="62" height="32" /></a>
            </div>

        </li>

        <li class='support-item slider_item'>
            <div class="support-content">03
                <a href="https://internationalmedicalcorps.org/country/ukraine/" target="_blank"><img class="img"
                        src="./image/support/support3.png" alt="International Medical Corps" width="101"
                        height="28" /></a>
            </div>

        </li>

        <li class='support-item slider_item'>
            <div class="support-content">04
                <a href="https://www.razomforukraine.org/" target="_blank"><img class="img"
                        src="./image/support/support4.png" alt="RAZOM" width="82" height="28" /></a>
            </div>

        </li>

        <li class='support-item slider_item'>
            <div class="support-content">05
                <a href="https://www.actionagainsthunger.org/location/europe/ukraine/" target="_blank"><img class="img"
                        src="./image/support/support5.png" alt="Action against hunger" width="55" height="35" /></a>
            </div>

        </li>

        <li class='support-item slider_item'>
            <div class="support-content">06
                <a href="https://prytulafoundation.org/en" target="_blank"><img class="img"
                        src="./image/support/support6.png" alt="Serhiy Prytula Charity Foundation" width="115"
                        height="36" /></a>
            </div>

        </li>

        <li class='support-item slider_item'>
            <div class="support-content">07
                <a href="https://u24.gov.ua/uk" target="_blank"><img class="img" src="./image/support/support7.png"
                        alt="UNITED24" width="143" height="15" />
            </div>
        </li>

        <li class='support-item slider_item'>
            <div class="support-content">08
                <a href="https://www.msf.org/ukraine" target="_blank"><img class="img"
                        src="./image/support/support8.png" alt="Medicins Sans Frontieres" width="135" height="47" />
            </div>

        </li>

        <li class='support-item slider_item'>
            <div class="support-content">09
                <a href="https://www.wvi.org/emergencies/ukraine" target="_blank"><img class="img"
                        src="./image/support/support9.png" alt="World vision" width="81" height="39" />
            </div>
        </li>
    </ul>

</div>
