/* блокування стилів по замовчуванню поля інпут */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 6000000s 0s, color 6000000s 0s;
}

/* =================== authorization-window section =================== */
.authorization-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: var(--blue-hover-icon-color);
  opacity: 1;
  transition: opacity var(--transition-property);
  z-index: 999;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.authorization-window {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 579px;

  padding: 80px 40px 32px;


  background-color: var(--background-color-main);
  border: 2px solid var(--main-text-color);
  border-radius: 18px;
  transform: translate(-50%, -50%);
  transition: transform var(--transition-property);
}

.authorization-window.dark {
  background-color: #202024;
  border: 2px solid #f6f6f6;
}

@media screen and (max-width: 767.98px) {
  .authorization-window {
    width: 335px;
    padding: 38px 20px 32px;
  }
  .authorization-window.dark {
    border: 2px solid #202024;
  }
}

@media screen and (max-width: 374.98px) {
  .authorization-window {
    width: 300px;
  }
}

.authorization-window-close-button {
  display: block;
  position: absolute;
  top: 25px;
  right: 25px;
  width: 18px;
  height: 18px;
  padding: 0;

  border: none;
  background-color: var(--background-color-main);
  cursor: pointer;
  transition: stroke var(--transition-property);
}

@media screen and (max-width: 767.98px) {
  .authorization-window-close-button {
    top: 14px;
    right: 14px;
    width: 12px;
    height: 12px;
  }
}

.authorization-window-close-button.dark {
  border-color: #202024;
  background-color: #202024;
}

.authorization-window-close-button-icon {
  display: block;
  width: 100%;
  height: 100%;

  stroke: var(--main-text-color);

  background-color: var(--background-color-main);

/* .authorization-window-close-button:hover
  .authorization-window-close-button-icon,
.authorization-window-close-button:focus
  .authorization-window-close-button-icon {
  stroke: var(--blue-hover-icon-color);
} */

/* .authorization-window-close-button-icon.dark {
  stroke: #f6f6f6;

  // background-color: #202024;
} */

.authorization-window-form {
  display: flex;
  flex-direction: column;
}

.authorization-window-label {
  display: flex;
  flex-direction: column;
  position: relative;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.authorization-window-label > .authorization-window-input {
  display: block;
  height: 64px;
  padding: 0;
  padding-left: 40px;
  margin-bottom: 28px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: -0.18px;
  text-transform: uppercase;

  color: var(--main-text-color);
  background-color: transparent;
  outline: none;
  border: 2px solid var(--main-text-color);
  border-radius: 40px;
  transition: color var(--transition-property),
    background-color var(--transition-property);
}

@media screen and (max-width: 767.98px) {
  .authorization-window-label > .authorization-window-input {
    height: 50px;
    margin-bottom: 24px;

    font-size: 16px;
    line-height: calc(18 / 16);
  }
}

.authorization-window-label > .authorization-window-input.dark {
  color: #f6f6f6;

  border-color: #f6f6f6;
}

.authorization-window-label > .authorization-window-input:focus,
.authorization-window-label > .authorization-window-input:hover {
  background-color: var(--blue-hover-icon-color);

}

.authorization-window-input:not(:placeholder-shown) {
  background-color: transparent !important;
}

/* .authorization-window-input.dark:not(:placeholder-shown) {
  background-color: transparent;
  color: #f6f6f6;
} */

.authorization-window-input::placeholder {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #111;
}

@media screen and (max-width: 767.98px) {
  .authorization-window-input::placeholder {
    height: 50px;

    font-size: 16px;
    line-height: calc(18 / 16);
  }
}

.authorization-window-input.dark::placeholder {
  color: #f6f6f6;
}

.authorization-window-icon {
  position: absolute;
  top: 18px;
  right: 32px;

  stroke: var(--main-text-color);
  fill: transparent;
  transition: stroke var(--transition-property), fill var(--transition-property);
}

@media screen and (max-width: 767.98px) {
  .authorization-window-icon {
    top: 16px;
    right: 24px;
    width: 18px;
    height: 18px;
  }
}

.authorization-window-icon.dark {
  stroke: #f6f6f6;
  /* fill: #111; */
}

/* .authorization-window-input:focus + .authorization-window-icon,
.authorization-window-input:hover + .authorization-window-icon {
  fill: var(--blue-hover-icon-color);
} */

.authorization-window-submit-button {
  height: 64px;
  margin-top: 12px;
  margin-bottom: 13px;
  padding-left: 0px;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 / 18);
  letter-spacing: -0.01em;
  text-transform: uppercase;

  color: #f3f3f3;
  background-color: var(--main-text-color);


  border-radius: 40px;
  border: none;
  cursor: pointer;
  transition: background-color var(--transition-property);
}

@media screen and (max-width: 767.98px) {
  .authorization-window-submit-button {
    height: 50px;
    margin-top: 0;

    margin-bottom: 5px;

    font-size: 16px;
    line-height: calc(18 / 16);
  }
}

.authorization-window-submit-button.dark {
  color: #202024;
  background-color: #f6f6f6;
}

.authorization-window-submit-button:hover,
.authorization-window-submit-button:focus {
  background-color: var(--blue-hover-icon-color);
}

.authorization-window-sign-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding-left: 0;
  margin: 0;
}

.authorization-window-sign-button {
  padding: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: calc(24 / 18);

  letter-spacing: -0.18px;
  text-transform: uppercase;

  color: rgba(17, 17, 17, 0.5);
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: border var(--transition-property);
}

@media screen and (max-width: 767.98px) {
  .authorization-window-sign-button {
    font-size: 14px;
    line-height: calc(18 / 14);
  }
}

.authorization-window-sign-button.dark {
  color: rgba(246, 246, 246, 0.5);
}

.sign-up,
.sign-in {
  border: 2px solid transparent;
  border-radius: 40px;
  padding: 5px 10px;

  transition: border var(--transition-property);
}

.sign-up:focus,
.sign-in:focus,
.sign-up:hover,
.sign-in:hover {
  border: 2px solid rgba(17, 17, 17, 0.5);
}

.sign-up:focus.dark,
.sign-in:focus.dark,
.sign-up.dark:hover,
.sign-in.dark:hover {
  border: 2px solid #f6f6f6;
}

.curr,
.curr.dark {
  padding: 5px 10px;

  text-decoration-line: underline;

  color: var(--blue-hover-icon-color);
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 40px;
  transition: border var(--transition-property);
}

.curr:focus,
.curr.dark:focus,
.curr:hover,
.curr.dark:hover {
  border: 2px solid var(--blue-hover-icon-color);
}
/* =================== /authorization-window section =================== */
