ul,li{
    list-style: none;
}

.section-categories{
    padding-top: 80px;
}

.categories-container{
    width: 356px;
    height: 472px;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
}

.categories-list{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 32px;

    letter-spacing: -0.02em;
    color: rgba(17, 17, 17, 0.6);
}

.categories-list:hover,
.categories-list:active{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;

    letter-spacing: -0.02em;
    text-transform: uppercase;

    color: #4F2EE8;
}