@import url('./_reset.css');
@import url('./_root-color.css');
@import url('./header.css');
@import url('./support.css');
/* ---------- AUTHORIZATION PAGE -------------- */
@import url('./authorization.css');
/* ---------- HOME PAGE -------------- */
@import url('./categories.css');
@import url('./best-sellers.css');
@import url('./modal.css');
@import url('./scroll-top.css');
/* ---------- SHOPPING LIST PAGE -------------- */
@import url('./shopping-list.css');

/* --------THEME-----*/
@import url('./theme.css');

/* global styles */

/* ======================================================================== */
/* Підключення шрифтіа через директиву @font-face */

/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v13/rP2Fp2ywxg089UriCZa4ET-DNl0.woff2)
    format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v13/rP2Fp2ywxg089UriCZa4Hz-D.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v13/rP2Hp2ywxg089UriCZ2IHSeH.woff2)
    format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v13/rP2Hp2ywxg089UriCZOIHQ.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v13/rP2Cp2ywxg089UriAWCrCBamC2QX.woff2)
    format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v13/rP2Cp2ywxg089UriAWCrCBimCw.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v13/rP2Cp2ywxg089UriASitCBamC2QX.woff2)
    format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF,
    U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/dmsans/v13/rP2Cp2ywxg089UriASitCBimCw.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191,
    U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* ======================================================================== */

.container {
  max-width: 375px;
  padding-right: 20px;
  padding-left: 20px;
  margin-left: auto;
  margin-right: auto;
}
.main-wraper {
  padding-top: 104px;
  padding-bottom: 72px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.categories-support-wraper {
  display: flex;
  gap: 40px;
  flex-direction: column;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 769px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .main-wraper {
    padding-top: 112px;
  }
  .categories-support-wraper {
    gap: 32px;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .main-wraper {
    padding-top: 112px;
    flex-wrap: nowrap;
  }
  .categories-support-wraper {
    gap: 86px;
    flex-wrap: wrap;
    flex-direction: column;
  }
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  min-width: 320px;
  font-family: DM Sans, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(18 / 14);
  letter-spacing: -0.02em;
  background-color: var(--background-color-main);
  color: var(--main-text-color);
  transition: 1s;
}
button {
  transition: color var(--transition-property),
    background-color var(--transition-property),
    box-shadow var(--transition-property),
    border-color var(--transition-property);
}
a {
  transition: color var(--transition-property),
    background-color var(--transition-property),
    box-shadow var(--transition-property),
    border-color var(--transition-property);
}
svg {
  transition: fill var(--transition-property);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}
