.main-wraper.container {
  position: relative;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms, visibility 250ms;
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  opacity: 0;
  transition-delay: 250ms;
  transform: translate(-50%, -50%);
}

.modal {
  position: fixed;
  opacity: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  width: 100%;
  max-width: 335px;
  border-radius: 18px;
  padding-top: 40px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 40px;
  border: solid 2px #111111;
  background-color: #fff;
  transition: transform 250ms;
  overflow-x: hidden;
  overflow-y: auto;
}
.picture {
  display: block;
  margin-bottom: 14px;
  width: 287px;
  height: 408px;
}
.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}
.authors {
  margin-bottom: 18px;
  color: #b4afaf;
  font-size: 12px;
  font-weight: 400;
  font-style: italic;
  line-height: 14px;
  letter-spacing: -0.04em;
}

.cls-button {
  display: block;
  position: absolute;
  top: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  cursor: pointer;
  border: none;
  fill: #f6f6f6;
  background-color: transparent;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  transition-property: background-color, fill;
}
button.cls-button :hover,
button.cls-button :focus {
  stroke: #4f2ee8;
}

.btn-action.button {
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: inline-flex;
padding: 14px 23px;
align-items: flex-start; */
  width: 279px;
  height: 46px;
  cursor: pointer;
  border-radius: 40px;
  border: 2px solid #4f2ee8;
  padding: 14px 23px 14px 23px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -1px;
  text-transform: uppercase;
  background-color: transparent;
  color: #111111;
}
.btn-action.button:hover,
.btn-action.button:focus {
  background-color: #4f2ee8;
  color: #fff;
}

.cl-bl-icon {
display: flex;
justify-content: center;
align-items: center;
min-width: 14px;
min-height: 14px;
padding: 8px;
background-color: var(--accent-color);
fill: 3px #111;
}

.modal-window {
  display: flex;
  flex-wrap: wrap;
}
.info {
  /* display: flex; */
  width: 270px;
  flex-direction: column;
}

.titles {
  margin-bottom: 4px;
  color: #111111;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.04em;
}

@media screen and (min-width: 768px) {
  .modal {
    max-width: 579px;
    background-color: #fff;
    border: solid 2px #111111;
    border-radius: 18px;
    padding: 40px;
  }
}

@media screen and (min-width: 768px) {
  .cls-button {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    /* fill: #f6f6f6; */
    background-color: transparent;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 250ms;
    transition-property: background-color, fill;
  }
}


@media screen and (min-width: 768px) {
  .btn-action.button {
    /* display: flex;
    justify-content: center; */

    align-items: center;
    cursor: pointer;
    width: 499px;
    height: 64px;
    border-radius: 40px;
    border: 2px solid #4f2ee8;
    padding: 20px 100px 20px 100px;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.33em;
    letter-spacing: -1.18px;
    text-transform: uppercase;
    background-color: transparent;
    color: #111111;
  }
}

@media screen and (min-width: 768px) {
  .picture {
    margin-right: 24px;
    margin-bottom: 40px;
    width: 192px;
    height: 281px;
  }
}

@media screen and (min-width: 768px) {
  .titles {
    margin-bottom: 8px;
    color: #111111;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.04em;
  }
}

@media screen and (min-width: 768px) {
  .authors {
  margin-bottom: 20px;
  color: #b4afaf;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  line-height: 18px;
  letter-spacing: -0.04em;
  }
}

.descriptions {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 400;
  color: #111111;
  line-height: 18px;
  letter-spacing: -0.56px;
  /* letter-spacing: -0.04em; */
}

@media screen and (min-width: 768px) {
  .descriptions {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #111111;
    line-height: 18px;
    letter-spacing: -0.04em;
  }
}

.icons {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .icons {
    margin-bottom: 121px;
  }
}

.icon-link {
  mix-blend-mode: luminosity;
}

.icon-link :hover {
  filter: drop-shadow(0px 3px 3px var(--shadow-color));
}
.scrollable-place {
  height: 3000px;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.modal-window-text {
display: flex;
width: 242px;
flex-direction: column;
color: rgba(17, 17, 17, 0.50);
text-align: center;
font-size: 10px;
font-family: DM Sans;
line-height: 12px;
letter-spacing: -0.4px;
margin-left: auto;
margin-right: auto;
margin-top: 8px;
}

@media screen and (min-width: 768px) {
.modal-window-text {
display: block;
text-align: center;
margin-top: 8px;
margin-left: auto;
margin-right: auto;
width: 324px;
font-size: 12px;
line-height: 14px;
letter-spacing: -0.48px;
  }
}

@media screen and (min-width: 1440px) {
.modal-window-text {
font-size: 12px;
line-height: 0.85em;
letter-spacing: -0.48px;
  }
}


body.dark .modal-window-text {
    color: rgba(255, 255, 255, 0.50);
}

body.dark .modal {
    background-color: var(--accent-bg-cl-dark);
}

body.dark .modal {
    border-color: #fff;
}

body.dark .titles {
    color: #fff;
}

body.dark .author {
    color: #B4AFAF;
}

body.dark .descriptions {
    color: #fff;
}

body.dark .btn-action.button {
    color: #fff;
}

body.dark button.cls-button :hover,
body.dark button.cls-button :focus {
  stroke: #fff;
}
  
body.dark .shoppimg-card-link-amazon {
  filter: brightness(.05) invert()
}

@media screen and (min-width: 768px) {
.shopping-card-link-amazon {
    width: 48px;
}
}

.shopping-card-link-icon {
    mix-blend-mode: luminosity;
    display: block;
}

.shopping-card-link-amazon {
    height: auto;
}

/* @media screen and (min-width: 768px) {
.shopping-card-link-icon {
    width: 28px;
}
} */

.shopping-card-link-icon {
    mix-blend-mode: luminosity;
    height: auto;
    display: block;
}
