body {
  transition: 1s;  background-color: var(--background-color-main);
  color: var(--main-text-color);
}
body.dark {
  --background-color-main: #202024;  
  --main-text-color: #ffffff;
  --header-background-color: #111;
  --header-border-color: #ffffff;
} 